
<!-- Head tag content -->
<%- include('../partials/_head.ejs') %>

<body>
    <!-- Navbar -->
    <%- include('../partials/_nav.ejs') %>

    <main class="list-view-main">
        <h1> <%=list.name%> </h1>

        <!-- ******************************************* -->
        <div class="user-avatar">
            <figure class="image is-64x64">
                <img class="profile-pic is-rounded" src="<%= list.avatar %>">
            </figure>

            <div class="name-rating">
                <h3><%= list.username %></h3>

                <% let trails = "trails" %> 
                <% if (list.trail_id.length === 1) { %>
                    <% trails = "trail" %> 
                <% } %>
                <p><%= list.trail_id.length %> <%= trails %></p>
            </div>
        </div>


    <!-- *********************************************** -->

        <div class="search-grid">
            <%- include('../partials/_search.ejs') %>
        </div>
        <!-- Container of list boxes -->
        <div id="list-boxes" class="trail-boxes">
            <!-- Dynamically displays available trails -->
            <%  for (i = 0; i < list.trail_id.length; i++) { %>
                <%   const trail = list.trail_id[i]; %>
            
                <div class="box trail-box">
                    <a href="/trails/<%= trail.id %>">
                        
                        <!-- Trail Box Image -->
                        <div class="box-img-cont">
                            <img class="box-img" src="<%= trail.image %>" alt="Trail Image">
                        </div>
                
                        <!-- Trail Box Text -->
                        <div class="box-text-cont">
                            <h3><%= trail.name %></h3>
                            <p class="trail-location"><%= trail.location %></p>
                
                            <!-- Difficulty color controller -->
                            <% let diff = "easy" %>
                            <% if (trail.difficulty === "3" || trail.difficulty === "4") { %> 
                                <% diff = "medium" %> 
                            <% } else if (trail.difficulty === "5") { %>
                                <% diff = "hard" %> 
                            <% } %> 
                
                            <p class="diff-rating <%= diff %>">Difficulty: <%= trail.difficulty %></p>
                
                            <!-- Time Estimator -->
                            <% const time = trail.length * 28 %> 
                            <% const hours = (time / 60) %> 
                            <% const roundHours = Math.floor(hours) %> 
                            <% const minutes = (hours - roundHours) * 60 %>
                            <% const roundMinutes = Math.round(minutes) %>  
                
                            <p class="trail-length">Length: <%= trail.length %> mi <span>•</span> Est. <%= roundHours %> h <%= roundMinutes %> min </p>
                        </div>
                    </a>
                </div>


            <% } %> 
        </div>
    </main>
    <!-- <footer class="footer"> 
    <div class="content">
        <img id="footer-logo" src="https://i.imgur.com/inBZZRA.png" width="140" height="60">
    </div>
    </footer> -->

</body>
</html>


