<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('../partials/_head.ejs') %>

<!-- Navbar -->
<%- include('../partials/_nav.ejs') %>

<body>
    <!-- Hero Banner -->
    <div id="plan-main" class="show-grid">
        <div class="show-wrapper">
                <!-- Hero Image -->
                <section class="hero show-hero">
                <div id="show-img-div" class="hero-body">
                    <img class="show-img" src="<%= plan.trail_id.image %>" alt="">
                </div>
            </section>

            <!-- Trail info on image -->
            <div class="show-box-text-cont">
                <h3><%= plan.trail_id.name %></h3>

                <!-- Difficulty color checker -->
                <% let diff = "easy" %>
                <% if (plan.trail_id.difficulty === "3" || plan.trail_id.difficulty === "4") { %> 
                    <% diff = "medium" %> 
                <% } else if (plan.trail_id.difficulty === "5") { %>
                    <% diff = "hard" %> 
                <% } %> 

                <span class="diff-rating <%= diff %>">Difficulty: <%= plan.trail_id.difficulty %></span>
                <p class="trail-location"><%= plan.trail_id.location %></p>
            </div>

            <!-- Circles left here for spacing (sorry ran out of time) -->
            <div class="circles">

            </div>
        </div>
    

    <!-- <hr> -->
 
    
        <main class="plan-grid">
            <!-- gear input -->

            
            <ul class="gear-items">
                <h1 id="plan-title">
                    Plan Your Hike On <br>
                    <% const created = plan.date %> 
                    <% const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                    
                    const monthNumber = new Date(created).getMonth();
                    const monthName = monthNames[monthNumber]
                    %> 
                    
                    <span><%= new Date(created).getDay() %> <%= monthName %>, <%= new Date(created).getFullYear() %></span>
                </h1>
                <% plan.gear.forEach(gear=> { %>
                    <li class="box"><%= gear %></li>
                <% }) %>
                <form class="gear-adder" action="/plans/<%= plan.id %>/gear" method="POST">
                    <input name="gear" type="text" class="box" placeholder="New Item" required></input>
                    <input type="submit" value="Add" class="button">
                </form>
                <div class="bottom-bs">
                    <form class="undo-delete" action="/plans/<%= plan.id %>/delete?_method=DELETE" method="POST">
                        <input type="submit" value="Delete Plan" class="button is-danger">
                    </form>
                    <form id="undo" class="undo-delete" action="/plans/<%= plan.id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Undo" class="button">
                    </form>
                </div>
            </ul>


                <!--  button for deleting the current plan  -->


        </main>
    </div>
</body>

</html>