<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('../partials/_head.ejs') %>

<!-- Navbar -->
<%- include('../partials/_nav.ejs') %>

<body>


    <hr>
    <main class="container plan-grid">

        <!-- gear input -->
        <form class="add-gear-form" action="/plans/<%= plan.id %>/gear" method="POST">
            <label for="gear" class="label">Add Gear</label>
            <div class="field">
                <div class="control">
                    <input name="gear" type="text" class="input gear-input" placeholder="Planning items"></input>
                </div>
            </div>
            <input type="submit" value="Add" class="button is-link">
        </form>

        <!-- yes I know gear is already plural -->

        
        <ul class="gear-items">
            <% plan.gear.forEach(gear=> { %>
                <li class="box"><%= gear %></li>
            <% }) %>
        </ul>
        <div>
            <form action="/plans/<%= plan.id %>?_method=DELETE" method="POST">
                <input type="submit" value="Undo" class="button is-link">
            </form>
        </div>


        <!--  button for deleting the current plan  -->
        <form action="/plans/<%= plan.id %>/delete?_method=DELETE" method="POST">
            <input type="submit" value="Delete Plan" class="button is-danger">
        </form>

    </main>
</body>

</html>