<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('../partials/_head.ejs') %>

<!-- Navbar -->
<%- include('../partials/_nav.ejs') %>

<body>


    <main class="plan-grid">

        <% if (plan) { %>
            <!-- Circles with Icons -->
            <form class="date-trail-select" action="/plans/<%= plan.id %>?_method=PUT" method="POST">

                <!-- Calendar Input -->
                <input name="date" type="date" class="calendar" data-start-date="10/24/2019">

                <!-- Drop down for trail selection -->
                <div class="select mb-5">
                    <select name="trail_id">
                        <option>Select a trail</option>
                        <% trails.forEach(trail=> { %>
                            <option value="<%= trail.id %>">
                                <%= trail.name %>
                            </option>
                            <% }) %>
                    </select>
                </div>
                <input type="submit" value="submit" class="button is-link">
            </form>

            <!-- gear input -->
            <form action="/plans/<%= plan.id %>/gear" method="POST">
                <div class="field">
                    <label for="gear" class="label">Add Gear</label>
                    <div class="control">
                        <div name="gear" type="text" id="gear" class="input"
                            placeholder="Planning items"></div>
                    </div>
                </div>
                <input id="addGear" type="submit" value="Add Gear" class="button is-link">
            </form>

            <!-- yes I know gear is already plural -->

            <% plan.gear.forEach(gear=> { %>
                <ul class="gear">
                    <p><%= gear %></p>
            <% }) %>

                    <div>
                        <form action="/plans/<%= plan.id %>?_method=DELETE" method="POST">
                            <input id="removeGear" type="submit" value="Undo" class="button is-link">
                        </form>
                    </div>
                </ul>



            <!--  testing things down here -->
            <p>
                <%= plan.trail_id %>
            </p>

            <!--  button for deleting the current plan  -->

            <form action="/plans/<%= plan.id %>/delete?_method=DELETE" method="POST">
                <input id="deletePlan" type="submit" value="deletePlan" class="button is-link">
            </form>

        <% } else { %>


            <%- include('../partials/_planModal.ejs') %>
            <!-- Create New Plan Form  -->


        <% } %>


    </main>
</body>

</html>