<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('./partials/_head.ejs') %>

<!-- Navbar -->
<%- include('./partials/_nav.ejs') %>

<body>
    <!-- Hero Banner -->
    <%- include('./partials/_hero.ejs') %>


    <div class="trail-boxes">
        <% for (let i = 0; i < trails.length; i++) { %> 
            <% const trail = trails[i] %> 

            <div class="box trail-box">
                <!-- Trail Box Image -->
                <div class="box-img-cont">
                    <img class="box-img" src="<%= trail.image %>" alt="Trail Image">
                </div>

                <div class="box-text-cont">
                    <h3><%= trail.name %></h3>
                    <p class="trail-location"><%= trail.location %></p>
                    <p class="diff-rating">Diff: <%= trail.difficulty %></p>
                    <p class="trail-length">Length: <%= trail.length %> miles</p>
                </div>
            </div>
            
        <% } %> 
    </div>


    





</body>
</html>


