<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('../partials/_head.ejs') %>

<body>
    <!-- Navbar -->
    <%- include('../partials/_nav.ejs') %>

    <div class="show-grid">
        <div class="show-wrapper">
            <!-- Hero Image -->
            <section class="hero show-hero">
                <div id="show-img-div" class="hero-body">
                    <img class="show-img" src="<%= trail.image %>" alt="">
                </div>
            </section>

            <div class="show-box-text-cont">
                <h3><%= trail.name %></h3>
                <span class="diff-rating">Difficulty: <%= trail.difficulty %></span>
                <p class="trail-location"><%= trail.location %></p>
            </div>

            <!-- Circles with Icons -->
            <div class="circles">
                <div class="circle">
                    <div id="photos-circle" class="inner-circle"></div>
                </div>
                <div class="circle">
                    <div id="directions-circle" class="inner-circle"></div>
                </div>
                <div class="circle">
                    <div id="more-circle" class="inner-circle"></div>
                </div>
                    <p>Photos</p>
                    <p>Directions</p>
                    <p>More</p>
                </div>

            <p class="container trail-description"><%= trail.description %></p>

            <hr id="pad-hr">

            <div class="stats">
                <p class="stat">
                    Length
                    <br>
                    <span><%= trail.length %> mi</span>
                </p>
                <p class="stat">
                    Elevation gain
                    <br>
                    <span><%= trail.elevation %> ft</span>
                </p>
                <p class="stat">
                    Route type
                    <br>
                    <span><%= trail.style %></span>
                </p>
            </div>

            <hr id="pad-hr">
        </div>


        <!-- Reviews section -->

        <div class="container review-head">
            <div>
                <!-- Get score to 1 decimal -->
                <% let score = 0 %>
                <% for( let i = 0; i < reviews.length; i++ ) { %>
                     <% score += reviews[i].rating %>
                <% } %>
                <% const total = Math.round(((score / reviews.length) * 10)) / 10 %> 

                <!-- Display total rating -->
                <% let button = "Write First Review" %> 
                <% if (reviews.length !== 0) { %> 
                    <% button = "Write a Review" %> 
                    <h2><%= total %> <i class="fas fa-star has-text-warning"></i></h2>
                <% } %> 
                
                <% if (reviews.length === 1) { %>
                    <p><%= reviews.length %> review</p>
                <% } else { %>   
                    <p><%= reviews.length %> reviews</p>
                <% } %> 
            </div>
            <%- include('../partials/_reviewModal.ejs') %>
            <button class="button"><%= button %></button>
        </div>

        <div class="reviews-container">


            <% for (let i = 0; i < reviews.length; i++) { %>
                <% const review = reviews[i] %> 

                <div>
                    <figure class="image is-64x64">
                        <!-- this should not have been working before i realied i needed avatar in review... deeply concerned -->
                        <img class="profile-pic is-rounded" src="<%= review.avatar %>">
                    </figure>


                </div>
                <div class="name-rating">
                    <h3><%= review.username %></h3>
                    <!-- make code for stars output -->
                    <div><%= review.rating %> stars</div>
                </div>
                <p><%= review.description %></p>

                <hr>
            <% } %> 
            
        </div>
    </div>
</body>
</html>