<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('../partials/_head.ejs') %>

<body>
    <!-- Navbar -->
    <%- include('../partials/_nav.ejs') %>

    <!-- Hero Image -->
    <section class="hero">
        <div class="hero-body">
            <img class="show-img" src="https://i.imgur.com/yinQ7OR.jpg" alt="">
        </div>
    </section>

    <!-- Circles with Icons -->
    <div class="circles">
        <div class="circle">
            <div id="photos-circle" class="inner-circle"></div>
            <p>Photos</p>
        </div>
        <div class="circle">
            <div id="directions-circle" class="inner-circle"></div>
            <p>Directions</p>
        </div>
        <div class="circle">
            <div id="more-circle" class="inner-circle"></div>
            <p>More</p>
        </div>          
    </div>

    <p class="container trail-description"><%= trail.description %></p>

    <hr id="tr-desc-hr">

    <div class="stats">
        <p class="stat">
            Length
            <br>
            <span><%= trail.length %> mi</span>
        </p>
        <p class="stat">
            Eleveation gain
            <br>
            <span><%= trail.elevation %> ft</span>
        </p>
        <p class="stat">
            Route type
            <br>
            <span>Out & Back</span>
        </p>
    </div>

</body>
</html>