<!DOCTYPE html>
<html lang="en">

<!-- Head tag content -->
<%- include('../partials/_head.ejs') %>

<body id="show-body">
    <!-- Navbar -->
    <%- include('../partials/_nav.ejs') %>

    <div class="show-grid">
        <div class="show-wrapper">
            <!-- Hero Image -->
            <section class="hero show-hero">
                <div id="show-img-div" class="hero-body">
                    <img class="show-img" src="<%= trail.image %>" alt="">
                </div>
            </section>

            <div class="show-box-text-cont">
                <h3><%= trail.name %></h3>
                <span class="diff-rating">Difficulty: <%= trail.difficulty %></span>
                <p class="trail-location"><%= trail.location %></p>
            </div>

            <!-- Circles with Icons -->
            <div class="circles">
                <div class="circle">
                    <div id="photos-circle" class="inner-circle"></div>
                    <!-- <p>Photos</p> -->
                </div>
                <div class="circle">
                    <div id="directions-circle" class="inner-circle"></div>
                    <!-- <p>Directions</p> -->
                </div>
                <div class="circle">
                    <div id="more-circle" class="inner-circle"></div>
                    <!-- <p>More</p> -->
                </div>
                <p>Photos</p>
                <p>Directions</p>
                <p>More</p>
            </div>

            <p class="container trail-description"><%= trail.description %></p>

            <hr id="tr-desc-hr">

            <div class="stats">
                <p class="stat">
                    Length
                    <br>
                    <span><%= trail.length %> mi</span>
                </p>
                <p class="stat">
                    Eleveation gain
                    <br>
                    <span><%= trail.elevation %> ft</span>
                </p>
                <p class="stat">
                    Route type
                    <br>
                    <span>Out & Back</span>
                </p>
            </div>

            <div class="container bc">
                <div class="button review-button">Review</div>
                <%- include('../partials/_reviewModal.ejs') %>
            </div>
        </div>
    </div>
</body>
</html>