<!DOCTYPE html>
<html lang="en">
<head>

<!-- Header tag content -->
<%- include('../partials/_head.ejs') %>

<!-- Navbar -->
<%- include('../partials/_nav.ejs') %>

<body>

    <main>

        <div class="tabs is-centered">
            <ul>
                <li class="is-active"><a href="/profile">Profile</a></li>
                <li><a href="/lists">Lists</a></li>
                <li><a href="/plans">Plans</a></li>
                <!-- <li><a>Reviews</a></li> -->
                <a id="update-profile" class="button" href="/profile/update">Edit&nbsp;<span>Profile</span></a>
            </ul>
        </div>

        <div class="container profile-content">
            <figure class="image is-128x128">
                <img class="profile-pic" src="<%= user.avatar %>">
            </figure>

            <h4>
                <strong>Member Since</strong>
                <br>
                <!-- The rest of this <h4> ouputs the month & year lol -->
                <% const since = user._id.getTimestamp() %> 
                <% const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                
                const monthNumber = new Date(since).getMonth();
                const monthName = monthNames[monthNumber]
                %> 
                
                <%= monthName %> <%= new Date(since).getFullYear() %> 
            </h4>

            <h2><%= user.username %></h2>

            <h3><%= user.location %></h3>
        
        

        </div>

        <hr id="pad-hr">

    </main>
      
      <!-- <footer class="footer">
        <div class="content">
            <img id="footer-logo" src="https://i.imgur.com/inBZZRA.png" width="140" height="60">
        </div>
    </footer> -->

</body>
</html>